@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--transparent: transparent;
	--white: #ffffff;
	--black: #060707;
	--gray: #2a2d31;
	--gray-2: #171a1d;
	--light-gray: #999b9d;
	--light-gray-2: #9da3ad;
	--dark-gray: rgb(23, 26, 29);
	--dark-gray-transparent: rgba(23, 26, 29, 0.76);
	--dark-gray-2: #212529;
	--dark-gray-3: #49454f;
	--green: #063e40;
	--light-green: #e7f4f5;
	--dark-blue: #1d2836;
	--dark-blue-2: #29384c;
	--dark-blue-2-opacity-70: rgba(41, 56, 76, 0.7);
	--blue: #0e276b;
	--blue-2: #072148;
	--dark-white: #e9efff;
	--dark-white-2: #f9fafb;
	--dark-white-3: #eaebed;
	--dark-white-4: #ece7e7;
	--dark-white-5: #a99191;
	--red: #9c162b;
	--dark-red: #430f10;
	--dark-red-2: #1c0607;
	--dark-red-3: #300b0b;

	--max-w-xl: 1600px;
	--half-max-w-xl: calc(var(--max-w-xl) / 2);

	--header-top-height: 72px;
	--header-bottom-height: 49px;

	--total-header-height: calc(var(--header-top-height) + var(--header-bottom-height));

	/* Primary Button */

	/* Primary Button DARK */

	--text-color-primary-button-dark: var(--gray);
	--text-color-primary-button-dark-hover: var(--gray-2);
	--text-color-primary-button-dark-active: var(--black);
	--text-color-primary-button-dark-disabled: var(--dark-white-3);

	--bg-color-primary-button-dark: var(--dark-white-2);
	--bg-color-primary-button-dark-hover: var(--dark-white-2);
	--bg-color-primary-button-dark-active: var(--light-gray);
	--bg-color-primary-button-dark-disabled: var(--light-gray);

	--border-color-primary-button-dark: var(--transparent);
	--border-color-primary-button-dark-hover: var(--transparent);
	--border-color-primary-button-dark-active: var(--transparent);
	--border-color-primary-button-dark-disabled: var(--transparent);

	/* Primary Button LIGHT */

	--text-color-primary-button-light: var(--white);
	--text-color-primary-button-light-hover: var(--white);
	--text-color-primary-button-light-active: var(--white);
	--text-color-primary-button-light-disabled: var(--dark-white-3);

	--bg-color-primary-button-light: var(--gray);
	--bg-color-primary-button-light-hover: var(--gray-2);
	--bg-color-primary-button-light-active: var(--black);
	--bg-color-primary-button-light-disabled: var(--light-gray);

	--border-color-primary-button-light: var(--transparent);
	--border-color-primary-button-light-hover: var(--transparent);
	--border-color-primary-button-light-active: var(--transparent);
	--border-color-primary-button-light-disabled: var(--transparent);

	/* Secondary Button */

	/* Secondary Button DARK */

	--text-color-secondary-button-dark: var(--dark-white-4);
	--text-color-secondary-button-dark-hover: var(--dark-red-2);
	--text-color-secondary-button-dark-active: var(--dark-red);
	--text-color-secondary-button-dark-disabled: var(--light-gray);

	--bg-color-secondary-button-dark: var(--transparent);
	--bg-color-secondary-button-dark-hover: var(--dark-white-4);
	--bg-color-secondary-button-dark-active: var(--dark-white-4);
	--bg-color-secondary-button-dark-disabled: var(--transparent);

	--border-color-secondary-button-dark: var(--dark-white-4);
	--border-color-secondary-button-dark-hover: var(--transparent);
	--border-color-secondary-button-dark-active: var(--transparent);
	--border-color-secondary-button-dark-disabled: var(--light-gray);

	/* Secondary Button LIGHT */

	--text-color-secondary-button-light: var(--dark-red);
	--text-color-secondary-button-light-hover: var(--dark-red);
	--text-color-secondary-button-light-active: var(--dark-white-4);
	--text-color-secondary-button-light-disabled: var(--light-gray);

	--bg-color-secondary-button-light: var(--transparent);
	--bg-color-secondary-button-light-hover: var(--dark-white-4);
	--bg-color-secondary-button-light-active: var(--dark-red-3);
	--bg-color-secondary-button-light-disabled: var(--transparent);

	--border-color-secondary-button-light: var(--dark-red);
	--border-color-secondary-button-light-hover: var(--dark-red);
	--border-color-secondary-button-light-active: var(--transparent);
	--border-color-secondary-button-light-disabled: var(--light-gray);

	/* Tertiary Button */

	/* Tertiary Button DARK */

	--text-color-tertiary-button-dark: var(--dark-white-4);
	--text-color-tertiary-button-dark-hover: var(--dark-white-4);
	--text-color-tertiary-button-dark-active: var(--dark-white-4);
	--text-color-tertiary-button-dark-disabled: var(--light-gray);

	--bg-color-tertiary-button-dark: var(--transparent);
	--bg-color-tertiary-button-dark-hover: var(--transparent);
	--bg-color-tertiary-button-dark-active: var(--dark-red-2);
	--bg-color-tertiary-button-dark-disabled: var(--transparent);

	--border-color-tertiary-button-dark: var(--transparent);
	--border-color-tertiary-button-dark-hover: var(--white);
	--border-color-tertiary-button-dark-active: var(--white);
	--border-color-tertiary-button-dark-disabled: var(--transparent);

	/* Tertiary Button LIGHT */

	--text-color-tertiary-button-light: var(--dark-red);
	--text-color-tertiary-button-light-hover: var(--dark-red);
	--text-color-tertiary-button-light-active: var(--dark-red);
	--text-color-tertiary-button-light-disabled: var(--light-gray);

	--bg-color-tertiary-button-light: var(--transparent);
	--bg-color-tertiary-button-light-hover: var(--transparent);
	--bg-color-tertiary-button-light-active: var(--dark-white-5);
	--bg-color-tertiary-button-light-disabled: var(--transparent);

	--border-color-tertiary-button-light: var(--transparent);
	--border-color-tertiary-button-light-hover: var(--dark-red);
	--border-color-tertiary-button-light-active: var(--dark-red);
	--border-color-tertiary-button-light-disabled: var(--light-gray);

	/* Form Control */

	--input-checkbox-color-check: var(--white);
	--input-checkbox-background-color-checked: var(--dark-red);
	--input-checkbox-border-color: var(--dark-gray-3);
	--input-checkbox-border-color-hover: var(--dark-blue-2);
	--input-checkbox-border-color-active: var(--dark-blue-2);
	--input-checkbox-disabled: rgba(41, 56, 76, 0.38);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	/* color: var(--foreground); */
	/* background: var(--background); */
	font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

.container {
	/* max-width: 1232px; */
	max-width: var(--max-w-xl);
	margin-left: auto;
	margin-right: auto;
}

.semi-container-l {
	max-width: var(--half-max-w-xl);
	margin-left: auto;
}

.semi-container-r {
	max-width: var(--half-max-w-xl);
	margin-right: auto;
}

.link {
	@apply underline transition-all duration-200;
}

.dynamic-image {
	animation: animate-dynamic-image 20s linear infinite;
}

@keyframes animate-dynamic-image {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

#hero-slider {
	div {
		@apply h-full;
	}
}

/* Form styles */

.form-control {
	display: flex;
	align-items: center;
	gap: 4px;
	font-weight: 500;
}

.form-control--disabled {
	cursor: not-allowed;
}

input[type='checkbox'] {
	position: relative;
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--form-background);
	margin: 0;

	font: inherit;
	width: 18px;
	height: 18px;
	border: 2px solid var(--input-checkbox-border-color);
	border-radius: 2px;

	display: grid;
	place-content: center;
	transition: 200ms all ease-in-out;
}

input[type='checkbox']::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	opacity: 0;
	/* transform: scale(1); */
	transform-origin: center;
	transition: 200ms all ease-in-out;
	border-radius: 100px;
	background-color: rgba(28, 6, 7, 0.08);
}

input[type='checkbox']:hover::after {
	opacity: 1;
}

input[type='checkbox']:active::after {
	opacity: 1;
	background-color: rgba(28, 6, 7, 0.12);
}

input[type='checkbox']:disabled::after {
	content: none;
}

input[type='checkbox']::before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	opacity: 0;
	transition: 200ms all ease-in-out;
	background-color: var(--input-checkbox-color-check);
}

input[type='checkbox']:checked::before {
	opacity: 1;
}

input[type='checkbox']:checked {
	background-color: var(--input-checkbox-background-color-checked);
	border: 2px solid var(--transparent);
}

input[type='checkbox']:disabled {
	--form-control-color: var(--input-checkbox-disabled);
	border: 2px solid var(--input-checkbox-disabled);
	color: var(--input-checkbox-disabled);
	cursor: not-allowed;
}

input[type='checkbox']:disabled:checked {
	--form-control-color: var(--input-checkbox-disabled);
	border: 2px solid var(--transparent);
	background-color: var(--input-checkbox-disabled);
	color: var(--input-checkbox-disabled);
	cursor: not-allowed;
}

/* Calendar */

.rdp-months {
	@apply relative;

	.rdp-nav {
		@apply absolute top-0 right-0;
	}

	.rdp-month {
		.rdp-month_caption {
			@apply uppercase ml-2 mb-3 text-xs font-semibold;
		}

		.rdp-month_grid {
			@apply w-full;

			.rdp-weekdays {
				@apply text-[10px] font-medium capitalize;
			}

			td,
			th {
				@apply w-[32px] h-[32px];
			}

			.rdp-day {
				@apply text-center text-xs font-medium p-px bg-transparent transition-colors duration-150;

				&.rdp-selected .rdp-day_button {
					/* @apply border-[var(--dark-white-3)]; */
				}

				&.rdp-range_start,
				&.rdp-range_end {
					@apply !text-white;

					.rdp-day_button {
						@apply !bg-dark-gray-2;
					}
				}

				&.rdp-range_start {
					background: linear-gradient(90deg,
							transparent 50%,
							var(--dark-white-3) 50%);
				}

				&.rdp-range_end {
					background: linear-gradient(90deg,
							var(--dark-white-3) 50%,
							transparent 50%);
				}

				&.rdp-range_start.rdp-range_end {
					background: revert;
				}

				&.rdp-today {
					.rdp-day_button {
						@apply border-dark-gray-2;
					}
				}

				.rdp-day_button {
					@apply w-[32px] h-[32px] rounded-full border-2 border-transparent bg-transparent transition-colors duration-150;

					&:hover {
						@apply bg-[var(--dark-white-3)];
					}
				}

				&.rdp-range_middle {
					@apply bg-[var(--dark-white-3)];

					.rdp-day_button {
						/* @apply bg-[var(--dark-white-3)]; */
					}
				}
			}
		}
	}
}

/* Pagination */

.pagination-bar {
	@apply w-full flex justify-center text-base font-semibold mt-10;
}

.pagination-container {
	display: flex;
	list-style-type: none;

	.pagination-item {
		padding: 0 4px;
		height: 40px;
		text-align: center;
		margin: auto 4px;
		display: flex;
		box-sizing: border-box;
		align-items: center;
		justify-content: center;
		letter-spacing: 0.01071em;
		border-radius: 8px;
		line-height: 1.43;
		min-width: 40px;
		transition: all 0.2s ease-in-out;

		&.dots:hover {
			background-color: transparent;
			cursor: default;
		}

		&:hover {
			background-color: var(--dark-white-3);
			cursor: pointer;
		}

		&.selected {
			background-color: var(--gray-2);
			color: var(--white);
		}

		&.button-arrow {
			@apply flex items-center justify-center gap-x-2 lg:px-4;
		}

		&.disabled {
			pointer-events: none;
			color: var(--light-gray-2);

			.arrow {
				path {
					fill: var(--light-gray-2);
				}
			}

			&:hover {
				background-color: transparent;
				cursor: default;
			}
		}
	}
}

/* input search */

/* Ocultar la "x" en navegadores WebKit (Chrome, Safari) incluso al pasar el mouse */
input[type='search']::-webkit-search-cancel-button {
	display: none;
	/* Oculta el botón de limpiar */
}

/* Opcional: Estilo para Edge e IE */
input[type='search']::-ms-clear {
	display: none;
	/* Oculta el botón de limpiar */
}

/* table */

th {
	@apply px-4 py-3;
}

td {
	@apply border border-light-green p-4;
}