@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--transparent: transparent;
	--white: #ffffff;
	--black: #060707;
	--gray: #2a2d31;
	--gray-2: #171A1D;
	--light-gray: #999b9d;
	--dark-gray: rgb(23, 26, 29);
	--dark-gray-transparent: rgba(23, 26, 29, 0.3);
	--dark-gray-2: #212529;
	--green: #063e40;
	--dark-blue: #1d2836;
	--dark-blue-2: #29384c;
	--blue: #0e276b;
	--dark-white: #e9efff;
	--dark-white-2: #f9fafb;
	--dark-white-3: #eaebed;
	--dark-white-4: #ECE7E7;
	--dark-white-5: #A99191;
	--red: #9c162b;
	--dark-red: #430f10;
	--dark-red-2: #1c0607;
	--dark-red-3: #300B0B;

	--max-w-xl: 1600px;
	--half-max-w-xl: calc(var(--max-w-xl) / 2);

	--header-top-height: 72px;
	--header-bottom-height: 49px;

	/* Primary Button */

	/* Primary Button DARK */

	--text-color-primary-button-dark: var(--gray);
	--text-color-primary-button-dark-hover: var(--gray-2);
	--text-color-primary-button-dark-active: var(--black);
	--text-color-primary-button-dark-disabled: var(--dark-white-3);
	
	--bg-color-primary-button-dark: var(--dark-white-2);
	--bg-color-primary-button-dark-hover: var(--dark-white-2);
	--bg-color-primary-button-dark-active: var(--light-gray);
	--bg-color-primary-button-dark-disabled: var(--light-gray);

	--border-color-primary-button-dark: var(--transparent);
	--border-color-primary-button-dark-hover: var(--transparent);
	--border-color-primary-button-dark-active: var(--transparent);
	--border-color-primary-button-dark-disabled: var(--transparent);

	/* Primary Button LIGHT */

	--text-color-primary-button-light: var(--white);
	--text-color-primary-button-light-hover: var(--white);
	--text-color-primary-button-light-active: var(--white);
	--text-color-primary-button-light-disabled: var(--dark-white-3);

	--bg-color-primary-button-light: var(--gray);
	--bg-color-primary-button-light-hover: var(--gray-2);
	--bg-color-primary-button-light-active: var(--black);
	--bg-color-primary-button-light-disabled: var(--light-gray);

	--border-color-primary-button-light: var(--transparent);
	--border-color-primary-button-light-hover: var(--transparent);
	--border-color-primary-button-light-active: var(--transparent);
	--border-color-primary-button-light-disabled: var(--transparent);

	/* Secondary Button */

	/* Secondary Button DARK */

	--text-color-secondary-button-dark: var(--dark-white-4);
	--text-color-secondary-button-dark-hover: var(--dark-red-2);
	--text-color-secondary-button-dark-active: var(--dark-red);
	--text-color-secondary-button-dark-disabled: var(--light-gray);
	
	--bg-color-secondary-button-dark: var(--transparent);
	--bg-color-secondary-button-dark-hover: var(--dark-white-4);
	--bg-color-secondary-button-dark-active: var(--dark-white-4);
	--bg-color-secondary-button-dark-disabled: var(--transparent);

	--border-color-secondary-button-dark: var(--dark-white-4);
	--border-color-secondary-button-dark-hover: var(--transparent);
	--border-color-secondary-button-dark-active: var(--transparent);
	--border-color-secondary-button-dark-disabled: var(--light-gray);

	/* Secondary Button LIGHT */

	--text-color-secondary-button-light: var(--dark-red);
	--text-color-secondary-button-light-hover: var(--dark-red);
	--text-color-secondary-button-light-active: var(--dark-white-4);
	--text-color-secondary-button-light-disabled: var(--light-gray);

	--bg-color-secondary-button-light: var(--transparent);
	--bg-color-secondary-button-light-hover: var(--dark-white-4);
	--bg-color-secondary-button-light-active: var(--dark-red-3);
	--bg-color-secondary-button-light-disabled: var(--transparent);

	--border-color-secondary-button-light: var(--dark-red);
	--border-color-secondary-button-light-hover: var(--dark-red);
	--border-color-secondary-button-light-active: var(--transparent);
	--border-color-secondary-button-light-disabled: var(--light-gray);

	/* Tertiary Button */

	/* Tertiary Button DARK */

	--text-color-tertiary-button-dark: var(--dark-white-4);
	--text-color-tertiary-button-dark-hover: var(--dark-white-4);
	--text-color-tertiary-button-dark-active: var(--dark-white-4);
	--text-color-tertiary-button-dark-disabled: var(--light-gray);
	
	--bg-color-tertiary-button-dark: var(--transparent);
	--bg-color-tertiary-button-dark-hover: var(--transparent);
	--bg-color-tertiary-button-dark-active: var(--dark-red-2);
	--bg-color-tertiary-button-dark-disabled: var(--transparent);

	--border-color-tertiary-button-dark: var(--transparent);
	--border-color-tertiary-button-dark-hover: var(--white);
	--border-color-tertiary-button-dark-active: var(--white);
	--border-color-tertiary-button-dark-disabled: var(--transparent);

	/* Tertiary Button LIGHT */

	--text-color-tertiary-button-light: var(--dark-red);
	--text-color-tertiary-button-light-hover: var(--dark-red);
	--text-color-tertiary-button-light-active: var(--dark-red);
	--text-color-tertiary-button-light-disabled: var(--light-gray);

	--bg-color-tertiary-button-light: var(--transparent);
	--bg-color-tertiary-button-light-hover: var(--transparent);
	--bg-color-tertiary-button-light-active: var(--dark-white-5);
	--bg-color-tertiary-button-light-disabled: var(--transparent);

	--border-color-tertiary-button-light: var(--transparent);
	--border-color-tertiary-button-light-hover: var(--dark-red);
	--border-color-tertiary-button-light-active: var(--dark-red);
	--border-color-tertiary-button-light-disabled: var(--light-gray);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	/* color: var(--foreground); */
	/* background: var(--background); */
	font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

.container {
	/* max-width: 1232px; */
	max-width: var(--max-w-xl);
	margin-left: auto;
	margin-right: auto;
}

.semi-container-l {
	max-width: var(--half-max-w-xl);
	margin-left: auto;
}

.semi-container-r {
	max-width: var(--half-max-w-xl);
	margin-right: auto;
}

.link {
	@apply hover:font-semibold underline transition-all duration-200;
}

.dynamic-image {
	animation: animate-dynamic-image 20s linear infinite;
}

@keyframes animate-dynamic-image {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

#hero-slider {
	div {
		@apply h-full;
	}
}