@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--gray: #2A2D31;
	--dark-gray: #171A1D;
	--green: #063E40;
	--dark-blue: #1D2836;
	--blue: #0E276B;
	--dark-white: #E9EFFF;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

.container {
	/* max-width: 1232px; */
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}