@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--black: #060707;
	--gray: #2A2D31;
	--dark-gray: #171A1D;
	--green: #063E40;
	--dark-blue: #1D2836;
	--blue: #0E276B;
	--dark-white: #E9EFFF;

	--max-w-xl:1600px;
	--half-max-w-xl: calc(var(--max-w-xl) / 2);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

.container {
	/* max-width: 1232px; */
	max-width: var(--max-w-xl);
	margin-left: auto;
	margin-right: auto;
}

.semi-container-l {
	max-width: var(--half-max-w-xl);
	margin-left: auto;
}

.semi-container-r {
	max-width: var(--half-max-w-xl);
	margin-right: auto;
}

.link {
	@apply hover:font-semibold underline transition-all duration-200;
}